:root {
  --dark-color: #131b23;
  --mid-color: #26413c;
  --light-color: #8ab0ab;
  --ff-primary: "Molengo", sans-serif;
  --ff-title: "Lekton", sans-serif;
}

h1 {
  font-size: 2em;
  font-family: "Lekton", sans-serif;
  color: #131b23;
  margin: 0 auto;
}

h2 {
  font-size: 1.8em;
  font-family: "Lekton", sans-serif;
  color: #131b23;
  margin: 0 auto;
}

h3 {
  font-size: 1.2em;
  font-family: "Molengo", sans-serif;
  color: #131b23;
  margin: 0 auto;
}

h4 {
  font-size: 1em;
  font-family: "Lekton", sans-serif;
  color: #131b23;
  margin: 0 auto;
}

p {
  font-family: "Molengo", sans-serif;
  font-size: 1em;
  color: #131b23;
  margin: 0 auto;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

nav ul li a {
  text-decoration: none; /* no underline */
  color: #131b23;
}

nav ul li a:hover,
nav ul li a:focus {
  font-weight: bold;
  text-decoration: line-through;
}

.header-container {
  margin-right: 50px;
  margin-left: 50px;
  float: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-container {
  max-height: 100vh;
  margin: 0 auto !important;
  float: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar but keep funcitonality for Chrome, Safari and Opera */
.main-container::-webkit-scrollbar {
  display: none;
}

.footer-container {
  margin-right: 50px;
  margin-left: 50px;
  float: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0, auto;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #131b23;
}

.highlight-on-hover:hover {
  transform: scale(1.05);
  transition-duration: 500ms;
}

.highlight-on-hover {
  transition: transform 0.5s ease-out;
}

.blog-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 300px;
}

.blog-thumbnail h4 {
  font-size: 0.8em;
  margin-top: 10px;
}

.blog-thumbnail h3 {
  font-size: 1em;
  text-align: center;
}

.footer-right-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#main-nav {
  list-style-type: none;
  margin-right: 50px;
}

#main-nav li {
  display: inline;
  float: left;
  margin-left: 30px;
  padding: 10px;
  font-size: 2em;
  font-family: "Molengo", sans-serif;
}

/* set width of logo as the minimum of 200px & 50vw */
#logo-img {
  vertical-align: middle;
  width: min(50vw, 300px);
  padding-right: 50px;
}

#github-img {
  width: 80px;
  transition: transform 0.5s ease-out;
}

#github-img:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

#intro-blurb h1 {
  font-family: "Molengo", sans-serif;
  font-size: 1.4em;
  text-align: left;
}

/* Shaking logo */
#logo-img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

#test {
  height: 200px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media only screen and (max-width: 780px) {
#main-nav li {
  font-size: 1.5em;
}

.header-container {
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-container {
  flex-wrap: wrap;
}

.footer-container {
  margin-right: 0px;
  margin-left: 0px;
}

#footer-blurb {
  display:none;
}

#intro-blurb h1 {
  font-size: 1em;
}

#logo-img {
  padding: 0px;
}

#main-nav li {
  margin: 0px;
}
