.blog-intro {
    color: #03120E;
}

.h1-title {
    font-size: 2em;
    font-family: 'Lekton', sans-serif;
    color: #03120E;
}

p {
    font-family: 'Molengo', sans-serif;
    font-size: 1.5em;
    color: #03120E;
}
